body,html{
    height: 100%;
    margin: 0;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat" , sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
}

#left{
    color: #226dbc;
    font-weight: bold;
}
#left>*{
    color:black;
    transform: translate(2.5vh , 2.5vh);
}
.bg , .bg2{
    width:100%;
    height: 100%;
    position: absolute;
    bottom:-16vh;
}

.bg{
    clip-path: polygon(71% 81%, 100% 46%, 100% 100%, 0 100%);

    z-index:-2;
    background-color: #226dbc;
}   

.bg2{
    clip-path: polygon(79% 92%, 100% 65%, 100% 100%, 1% 100%);

    z-index: -1;
    background-color: #1a5391;
}
 .container{
     display: grid;
     grid-template-columns: 30% auto;
     height: auto;
     align-items: center;
     margin: 0 50px;;
 }
 ul{
     list-style-type:none;
     
     perspective: 2000px;
 }
 ul li{
     display: grid;
     grid-template-columns: 20% auto;
     border-radius: 10px;
     padding: 15px;
     cursor: pointer;
     width: 60%;
     transform: rotateY(-30deg) rotateZ(10deg);
     position: absolute;
     border-bottom: 4px solid rgba(0,0,0,.2);
     /* mix-blend-mode: multiply; */
     transition: transform 0.1s ease-in-out;
 }

 ul li:nth-child(1){
     background-color: #bfe8fc;
     top:-135px;
     z-index: 2;
 }
 ul li:nth-child(2){
     background-color: #faffc8;
     z-index: 1;
 }
 ul li:nth-child(3){
     background-color: rgb(242, 228, 255);
     top:105px;
 }


 ul li:hover{
     transform: rotateY(-22deg) rotateX(7deg) scale(1.03);
     z-index: 5;
 }

 img{
     width: 70px;;
 }

 h1{
     font-size: 2.5em;
     margin-top: 0;
     width:5ch;
 }

 @media (max-width:1000px) {
    .container{
        grid-template-columns: auto;
     
    }
    #left{
        margin-bottom: 10vh;
    }
    #right{
        margin-bottom: 1vh;
    }
    ul li{
        top:0;
        right: 0;
        transform:none;
        position: relative;
        width: 65vw;
        margin-inline: auto;
        margin-top: 1em;
    }
    ul li:nth-child(1){
        top:-0;
    }
    ul li:nth-child(2){
     
    }
    ul li:nth-child(3){
        background-color: rgb(242, 228, 255);
        height: 100%;

        top:100%;
    }
    img{
        width: 30px;
        height: 30px;
    }
    ul li>*{
        font-size: 0.85em;
    }
 }

 @media (max-width:350px)
 {
     .bg,.bg2{
         bottom: -40vh;;
     }
 }
